.formInput {
	display: flex;
	flex-direction: column;
	width: 280px;
	max-width: 150px;
}

.visa-form input {
	padding: 5px;
	border-radius: 5px;
	border: 1px solid gray;
}

.visa-form label {
	font-size: 12px;
	color: black;
}

.visa-form span {
	font-size: 12px;
	padding: 3px;
	color: red;
	display: none;
}

.visa-form input:invalid[focused="true"] {
	border: 1px solid red;
}

.visa-form input:invalid[focused="true"] ~ span {
	display: block;
}
