@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-track {
	background: rgb(185 28 28);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #fff;
	height: 2px;
	border-radius: 30px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: black;
}